PORT=4000
MONGODB_URI=YOUR_DATABASE_CONNECTION_STRING
DB_NAME=YOUR_DATABASE_NAME_STRING

NODE_ENV=development_or_production

JWT_SECRET=YOUR_JSONWEBTOKEN_SECRET_STRING

#Admin Login Credentials
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123?